<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Home Build_Ur Dream</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'home.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/path/to/flickity.css" media="screen">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
</head>
<body>
<div class="header">
<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/">
            <img src="{%static 'images/logo.jpg'%}" width="125px"></a>
        </div>
        <nav>
            <ul id="menuitem">

                <li ><a href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
                <li class="active"><a href=""><i class="fa fa-search"></i>Find Property<i class="fa fa-sort-down"></i></a>
                 <div class="sub-menu">
                     <a href="selled"><i class="fa fa-shopping-cart"></i>Sell</a>
                     <a href="buy"><i class="fa fa-shopping-cart"></i>Buy</a>
                     <a href="rented"><i class="fa fa-shopping-cart"></i>Rental</a>
                </div>
                </li>
                <li><a href=""><i class="fa fa-fw fa-wrench"></i>Our Services</a></li>
                <li><a href="feedback1"><i class="fa fa-comments-o"></i>Feedback</a></li>
                <li><a href="index"><i class="fa fa-image"></i>Gallery</a></li>
                <li><a href=""><i class="fa fa-question-circle"></i>Help</a></li>
                {% if user.is_authenticated %}
                <li><h5 style="align-item: center">welcome {{ user.username }}</h5></li>
                <li><a href="logout"><i class="fa fa-sign-out"></i>Logout</a></li>
                {% else %}
                <li><a href="#" onclick="document.getElementById('id011').style.display='block'"><i class="fa fa-fw fa-user"></i>Login/Signup</a></li>
                {% endif %}
            </ul>
        </nav>
            <img src="{%static 'images/menu-logo.png'%}" class="menu-icon" onclick="menutoggle()">
    </div>
</div>
    <div class="section_2">
        <div class="container_2">
            <div class="row">
                <div class="column1">
                  <img src="{{obj.image.url}} " height="500px" width="800px">
                </div>
                <div class="column2">
                    <h1>{{obj.availableroom}} BHK</h1>
                    <h7>for sale in {{obj.city}}, {{obj.state}}</h7>
                   <div class="row">
                    <div class="cola">
                        <div class="h1"> <h1 color="red"> Rs. {{obj.cost}} </h1></div>
                    </div>
                    <div class="cola">
                        <h1> {{obj.landarea}} sq.ft. </h1>
                    </div>
                    <div class="cola">
                        <h1> {{obj.availableroom}} BHK</h1>
                    </div>
                       </div>
                    <div class="row">
                        <div class="cold">
                    <img src="{%static 'images/images.png'%}" height="150px" width="150px">
                            </div>
                        <div class="cole">
                            <p>{{obj.username}}</p>
                            <p>{{user.email}}</p>
                            <p>{{obj.contact}}</p>
                            <p>{{obj.address}}</p>
                        </div>
                    </div>
                    <div class="builder">
                        <h3>{{obj.category}}</h3>
                    </div>
                     <div class="username">
                         <h12><a href="">{{obj.username}}</a></h12>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.139136150589!2d79.04787331495044!3d21.14686048911178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c043a0dfa8c9%3A0x9ba851e3633b1995!2sRashtrasant%20Tukadoji%20Maharaj%20Nagpur%20University!5e0!3m2!1sen!2sin!4v1623334670165!5m2!1sen!2sin" width="1560" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

<!----footer--->
<div class="footer">
    <div class="container1">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone</p>
                <div class="app-logo">
                    <img src="{%static 'images/GetItOnGooglePlay.png'%}" >
                    <img src="{%static 'images/appstore.png'%}" >
                </div>
            </div>
            <div class="footer-col-2">
                <img src="{%static 'images/logo1.jpg'%}" width="150px">
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupen</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>

        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Home Build_Ur Dream Site</p>
    </div>

</div>


</body>
</html>